body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    text-align: center;
    align-content: center;
    max-width: 600px;
    height: 200px;
    /* margin: 50px; */
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#direction{
    margin-top: -50px;
    margin-bottom: 50px;
    align-content: start;
    max-width: 50px;
}