@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/*Home Page*/
.space {
  margin: 50px auto;
}

.button-box {
  margin-top: 40px;
}

.button-format {
  height: 64px;
  width: 309px;
}
.buttonColor {
  border: none;
  background-color: #0fc0fc;
  margin-bottom: 8px;
  color: #000;
}

.buttonEmpty {
  border: 5px solid #0fc0fc;
  margin-bottom: 8px;
  color: #000;
  background-color: #fff;
}

.buttonGoogle {
  font-size: 24px;
  border: 3px solid black;
  margin-bottom: 24px;
  color: #000;
  background-color: #fff;
}

.google {
  width: 39.5px;
  height: 39.5px;
}
/*End Home Page*/

/*Consent*/
.content {
  margin-bottom: 40px;
}

.sub {
  margin: 40px auto;
}

.paragraph {
  margin-bottom: 24px;
  width: 889px;
  text-align: justify;
}

/* .buttonBox {
  margin-top: 100px;
} */

.buttonConsent {
  font-size: 35px;
  font-weight: 800;
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  color: white;
}

.buttonAccept {
  background-color: #0cca63;
  border: none;
  margin-bottom: 8px;
}

.buttonDecline {
  background-color: #ca0c17;
  border: none;
}

/*End Consent*/

/*Ineligible*/
.title {
  margin: 60px auto;
}
/*End Ineligible*/

/* OPTIONS */
.option-button {
  width: 315px;
  height: 64px;
}
/*END OPTIONS*/

/*Sign Up*/
.input-container {
  border-radius: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #6c727f;
  background-color: #fff;
  display: flex;
  width: 934px;
  /* max-width: 100%; */
  height: 90px;
  flex-direction: column;
  align-items: start;
  padding-left: 21px;
}

.input-invalid {
  border: 1px solid #ca0c17 !important;
}

.username-box {
  margin: 51px 0 258px 0;
}

.input-space {
  margin-top: 19px;
}
.input-label {
  display: flex;
  border-radius: 30px;
  background-color: #fff;
  z-index: 10;
  margin-top: -15px;
  color: #000;
  white-space: nowrap;
  justify-content: center;
  padding: 0 5px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.required {
  margin: 0 3px 0 3px;
  color: #ca0c17;
  align-self: start;
  font: 32px Inter, sans-serif;
  font-weight: 600;
}

.alert-text {
  margin-top: 30px;
  color: #ca0c17;
  text-align: center;
  font: 40px Inter, sans-serif;
}

.form-box {
  border: none;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
.input-placeholder {
  margin-top: -5px;
  color: #848484;
  opacity: 0.85;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 0 0 0 6px;
}

.signup-box {
  margin: 40px 0;
}
/*END SIGN UP*/

/*CONFIRMATION*/
.code-input {
  width: 515px;
  height: 90px;
  border-radius: 16px;
  border: 5px solid #0fc0fc;
}
.code-placeholder {
  margin-top: 3px;
  color: #706c6c;
  opacity: 0.85;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
  padding: 0 140px;
}
.code-invalid {
  border: 5px solid #ca0c17 !important;
}
.error-text {
  margin-top: 6px;
  color: #ca0c17;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
/*END CONFIRMATION*/

/*DATE OF BIRTH*/
.date-container {
  border-radius: 16px;
  background-color: #d9d9d9;
  margin-top: 24px;
  display: flex;
  width: 379px;
  height: 60px;
  align-items: center;
  padding-left: 78px;
  padding-right: 21px;
}

.date-icon {
  width: 33px;
  height: 32;
}

.calendar-placeholder {
  margin-top: -5px;
  color: #000000;
  background-color: #d9d9d9 !important;
  opacity: 0.85;
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 0 6px;
}

.custom-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.nav-arrow {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer !important;
  margin: 0 20px;
  margin-top: -5px;
}

.month-dropdown,
.year-dropdown {
  margin: 0 0.5rem;
  font-size: 1rem;
  padding: 0.2rem;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker {
  margin-top: 16px;
  margin-left: -20px;
  width: 379px; /* Same as the width of .date-container */
  height: 390px; /* Adjusted height */
  border-radius: 24px !important;
  background-color: #d9d9d9; /* Match the input box background */
  /* font-family: "Inter", sans-serif !important;
  font-size: 24px !important;
  font-weight: 500 !important; */
}

.react-datepicker__header {
  background-color: #d9d9d9; /* Match the input box background */
  border-bottom: 1px solid #ccc;
  width: 378px;
  font-size: 18px;
  font-weight: 500;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-evenly;
  width: 378px;
}

.react-datepicker__month {
  height: 350px; /* Adjusted height to fit the overall height */
  padding: 0 8px;
  margin-left: -3px !important;
}
.react-datepicker__month-container {
  float: none !important;
  border-radius: 24px;
  height: 350px !important;
}

.react-datepicker__week {
  width: 378px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: space-evenly;
  margin-left: -6px;
}

.react-datepicker__day {
  height: 41.5px; /* Adjust day height */
  line-height: 41.5px; /* Center text vertically */
  width: 378px;
  font-size: 18px;
  font-weight: 500;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 43px !important;
  line-height: 41px !important;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 24px !important;
  border-top-left-radius: 24px;
}
.react-datepicker__day--selected {
  background-color: #0fc0fc !important; /* Custom selected day color */
  color: #000000 !important;
  font-weight: 700 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #0fc0fc !important;
  color: #000000 !important;
}

.react-datepicker__day:hover {
  background-color: #0fc0fc !important;
  color: #000000 !important;
}

.react-datepicker__triangle {
  display: none; /* Hide the triangle */
}
.outside-month {
  color: #c0c0c0 !important; /* Light grey color */
  pointer-events: none; /* Make them unselectable */
}
/*END DATE OF BIRTH*/

/*AVARTAR*/

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 750px;
  justify-content: center;
  margin: auto;
}

.image-item {
  cursor: pointer;
  border: 2px solid transparent;
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
}

.image-item.selected {
  border-color: #0fc0fc;
  border-radius: 16px;
}

.image-item img {
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 250px;
}

/*END AVARTAR*/

/*PROFILE*/
.userName {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.profileInfor {
  font-weight: 500;
  width: 586px;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: justify;
}
.App {
  text-align: center;
  padding: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.info-box {
  margin: 10px 0;
  text-align: left;
  width: 100%;
  max-width: 300px; /* Adjust size as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.info-box p {
  margin: 0;
  font-weight: bold;
}

.info-content {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.changeProfile {
  font-size: 20px;
  font-weight: 600;
}
.changepass {
  font-weight: 700;
  text-align: left;
  width: 586px;
}
/*END PROFILE*/

/*NUMBER OF CHILDREN*/
.num-space {
  padding: 0 190px;
  text-align: center;
}
/*END*/

/*IACCESS CONFIRMATION*/
.vector {
  margin: 30px 0;
}
.list {
  font-size: 24px;
  font-weight: 400;
}
/*END IACCESS CONFIRMATION*/

/*ALLERGIES*/
.allergies {
  display: flex;
  flex-direction: column;
  margin: 40px 0 40px 200px;
  font-size: 24px;
  font-weight: 400;
}
.input-allergies {
  height: 52px;
  width: 490px;
  border: 2px solid #0fc0fc;
  border-radius: 8px;
  margin: 24px 0;
}
.input-place {
  margin-top: 5px !important;
  width: 440px;
}

.form-check-input:checked {
  background-color: #0fc0fc;
  border-color: #0fc0fc;
}
.form-check-input {
  border: 2px solid black;
}

.label-allergies {
  margin: 10px 10px 10px 15px;
}
.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  width: 42px;
  height: 40px;
}
/*END ALLERGIES*/

/*MODAL*/
.custom-modal .modal-dialog {
  width: 100%;
}

.custom-modal .modal-content {
  margin-top: 139px;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
}
.large-modal .modal-content {
  width: 526px;
  height: 418px;
}

.small-modal .modal-content {
  height: 360px;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none;
  text-align: center;
  justify-content: center;
}

.custom-modal .modal-title {
  font-size: 30px;
  font-weight: 700;
  margin: auto;
}

.custom-modal .modal-body {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  flex: 0;
}

.large-space {
  margin-bottom: 41px;
}

.small-space {
  margin-bottom: 0;
}
.custom-modal .modal-footer {
  padding: 0;
}

.custom-modal .btn-primary {
  font-size: 24px;
  font-weight: 700;
  width: 443px;
  height: 53px;
  color: #000;
  background-color: #0fc0fc; /* Custom button color */
  border: none;
  border-radius: 16px;
}

.custom-modal .btn-secondary {
  font-size: 24px;
  font-weight: 700;
  width: 443px;
  height: 53px;
  border: 3px solid #0fc0fc;
  margin-bottom: 33px;
  color: #000;
  background-color: #fff;
  border-radius: 16px;
}

.modal-icon {
  width: 99px;
  height: 99px;
}

.sad-allergies {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}
/*END MODAL*/

/*MANAGE KIDS*/

.kid-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally the kid-container itself */
  margin-bottom: 20px; /* Add space between each kid container */
}

.kidname {
  width: 416px;
  height: 98px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0fc0fc;
  padding: 0 32px;
}

.kidname h2 {
  text-align: left;
}

.kidname.pending {
  margin-left: 125px; /* Add margin when status is Pending */
}

.status-kids {
  width: 100px;
  height: 40px;
  border: 2px solid #0fc0fc;
  font-size: 15px;
  border-radius: 10px;
  align-self: center;
  margin-left: 20px;
}

.image-back {
  width: 33px;
  height: 34px;
}

/*END MANAGE KIDS*/

/*ADD KIDS*/
.checkbox-invalid {
  border: 1px solid red; /* Set border to red for invalid state */
  border-radius: 4px; /* Optional: Add some border-radius */
  padding: 4px; /* Optional: Add padding to ensure the border is visible */
}
/*END ADD KIDS*/

/*KIDS PENDING*/
.accept-buttons {
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin-top: 40px;
  margin-bottom: 100px;
}
/*END KIDS PENDING*/

/* MOBILE */
@media (max-width: 768px) {
  /*Home Page*/

  .space {
    margin: 27px auto;
    max-width: 337px;
  }

  .button-box {
    margin-top: 40px;
  }

  .button-format {
    height: 88px;
    width: 347px;
    border-radius: 8px;
  }

  .logoIpot {
    width: 279px;
    height: 213px;
  }
  /*End Home Page*/

  /*Consent*/
  .content {
    margin-bottom: 40px;
  }

  .sub {
    margin: 12px 0 48px 0;
  }

  .paragraph {
    margin: auto;
    margin-bottom: 22px;
    width: 327px;
    text-align: justify;
  }
  /*End Consent*/

  /* OPTIONS */
  .option-button {
    width: 347px;
    height: 88px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
  }
  /*END OPTIONS*/

  /*Sign Up*/
  .input-container {
    width: 350px;
    /* max-width: 100%; */
    height: 88px;
  }

  .username-box {
    margin: 51px 0 182px 0;
  }
  .mailIm {
    width: 150px;
    height: 150px;
  }
  .confirmP {
    font-size: 23px !important;
    width: 376px;
    text-align: center;
  }

  /*END SIGN UP*/

  /*CONFIRMATION*/
  .code-input {
    width: 347px;
    height: 88px;
    border-radius: 8px;
    border: 4px solid #0fc0fc;
  }
  .code-placeholder {
    margin-top: 3px;
    color: #706c6c;
    opacity: 0.85;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 5px 77px;
  }
  .code-invalid {
    border: 5px solid #ca0c17 !important;
  }
  .error-text {
    margin-top: 6px;
    color: #ca0c17;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  /*END CONFIRMATION*/
  /*AVARTAR*/

  .image-gallery {
    width: 375px;
  }

  /*END AVARTAR*/
  /*PROFILE*/
  .profileIm {
    width: 125px;
    height: 125px;
  }

  .profileInfor {
    font-weight: 500;
    width: 310px;
    border: none;
    border-bottom: 1px solid #000000;
    text-align: justify;
  }

  .changeProfile {
    font-size: 20px;
    font-weight: 600;
  }
  .changepass {
    font-weight: 700;
    text-align: left;
    width: 310px;
  }
  /*END PROFILE*/

  /*ALLERGIES*/
  .allergies {
    display: flex;
    flex-direction: column;
    margin: 40px 0 40px 200px;
    font-size: 24px;
    font-weight: 400;
  }
  .input-allergies {
    height: 52px;
    width: 490px;
    border: 2px solid #0fc0fc;
    border-radius: 8px;
    margin: 24px 0;
  }
  .input-place {
    margin-top: 5px !important;
    width: 440px;
  }

  .form-check-input:checked {
    background-color: #0fc0fc;
    border-color: #0fc0fc;
  }
  .form-check-input {
    border: 2px solid black;
  }

  .label-allergies {
    margin: 10px 10px 10px 15px;
  }
  .form-check-input[type="checkbox"] {
    border-radius: 0.25em;
    width: 42px;
    height: 40px;
  }
  /*END ALLERGIES*/

  /*MANAGE KIDS*/

  .kid-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally the kid-container itself */
    margin-bottom: 20px; /* Add space between each kid container */
  }

  .kidname {
    width: 230px;
    height: 88px;
    padding: 0 22px;
  }

  .kidname.pending {
    margin-left: 78px; /* Add margin when status is Pending */
  }

  .status-kids {
    width: 60px;
    height: 30px;
    border: 2px solid #0fc0fc;
    font-size: 12px;
    border-radius: 10px;
    align-self: center;
    margin-left: 10px;
  }

  .image-back {
    width: 28px;
    height: 29px;
  }

  /*END MANAGE KIDS*/
}
